<script context="module">
	export const ssr = false
</script>

<script lang="ts">
	import { onMount } from 'svelte'
	import ColorCell from './ColorCell.svelte'
	import { username } from '$lib/store'
	import { getLobby, State, updateLobby } from '$lib/api'
	import type { LobbyData, Event, Color } from '$lib/api'
	import { page } from '$app/stores'
	import { browser } from '$app/env'
	let FloodFill

	export let lobby: LobbyData

	const isPlayerA = lobby.playerA == $username
	const isPlayerB = lobby.playerB == $username
	const state = lobby.lobbyState

	let interactive = false
	let drawing: string = lobby.word
	let color: string = '#ff0000'
	let isWaiting = false

	let events = new Array<Event>()

	let drawingBoard: any
	let context: CanvasRenderingContext2D

	let currentGuess = ''

	onMount(async () => {
		context = drawingBoard.getContext('2d')

		FloodFill = (await import('q-floodfill')).default

		//Call intially to correct initial state
		handleCanvasResize()

		window.addEventListener(
			'resize',
			() => {
				handleCanvasResize()
			},
			false
		)

		if (
			(isPlayerA && state === State.PlayerADrawing) ||
			(isPlayerB && state === State.PlayerBDrawing)
		) {
			interactive = true
			clear()
		} else if (
			(isPlayerA && state === State.PlayerAGuessing) ||
			(isPlayerB && state === State.PlayerBGuessing)
		) {
			interactive = false
			events = lobby.drawing

			replayData()
		} else if (
			(isPlayerA && (state === State.PlayerBDrawing || state === State.PlayerBGuessing)) ||
			(isPlayerB && (state === State.PlayerADrawing || state === State.PlayerAGuessing))
		) {
			isWaiting = true
		}
	})

	function levenshteinDistance(str1: string, str2: string): number {
		const track = Array(str2.length + 1)
			.fill(null)
			.map(() => Array(str1.length + 1).fill(null))
		for (let i = 0; i <= str1.length; i += 1) {
			track[0][i] = i
		}
		for (let j = 0; j <= str2.length; j += 1) {
			track[j][0] = j
		}
		for (let j = 1; j <= str2.length; j += 1) {
			for (let i = 1; i <= str1.length; i += 1) {
				const indicator = str1[i - 1] === str2[j - 1] ? 0 : 1
				track[j][i] = Math.min(
					track[j][i - 1] + 1, // deletion
					track[j - 1][i] + 1, // insertion
					track[j - 1][i - 1] + indicator // substitution
				)
			}
		}
		return track[str2.length][str1.length]
	}

	let localColor: Color = { r: 255, g: 0, b: 0 }
	const rubberColor: Color = { r: 255, g: 255, b: 255 }

	let localLineWidth = 8
	let localLineWidthUnscaled = 8

	let lastX = 0
	let lastY = 0

	let touchID: number | null = null

	const pen = 0
	const rubber = 1
	const fillBucket = 2

	let localTool = pen

	function generateCircleMap(radius: number): number[][] {
		const diameter = 2 * radius
		let circleData = new Array<Array<number>>(diameter)

		for (let x = 0; x < diameter; x++) {
			circleData[x] = new Array<number>(diameter)
			for (let y = 0; y < diameter; y++) {
				const distanceToRadius = Math.sqrt(Math.pow(radius - x, 2) + Math.pow(radius - y, 2))
				if (distanceToRadius > radius) {
					circleData[x][y] = 0
				} else if (distanceToRadius < radius - 2) {
					circleData[x][y] = 2
				} else {
					circleData[x][y] = 1
				}
			}
		}

		return circleData
	}

	function setPixel(imageData: ImageData, x: number, y: number, color: Color) {
		const offset = (y * imageData.width + x) * 4
		imageData.data[offset] = color.r
		imageData.data[offset + 1] = color.g
		imageData.data[offset + 2] = color.b
		//We never want transparency, therefore alpha is always 255.
		imageData.data[offset + 3] = 255
	}

	function drawBresenhamLine(
		imageData: ImageData,
		x1: number,
		y1: number,
		x2: number,
		y2: number,
		color: Color
	) {
		const dx = Math.abs(x2 - x1)
		const dy = Math.abs(y2 - y1)
		const sx = x1 < x2 ? 1 : -1
		const sy = y1 < y2 ? 1 : -1
		let err = dx - dy

		while (true) {
			//check if pixel is inside the canvas
			if (!(x1 < 0 || x1 >= imageData.width || y1 < 0 || y1 >= imageData.height)) {
				setPixel(imageData, x1, y1, color)
			}

			if (x1 === x2 && y1 === y2) break
			const e2 = 2 * err
			if (e2 > -dy) {
				err -= dy
				x1 += sx
			}
			if (e2 < dx) {
				err += dx
				y1 += sy
			}
		}
	}

	function drawLine(
		context: CanvasRenderingContext2D,
		x1: number,
		y1: number,
		x2: number,
		y2: number,
		color: Color,
		lineWidth: number
	) {
		// the coordinates must be whole numbers to improve performance.
		// also, decimals as coordinates is not making sense.
		x1 = Math.floor(x1)
		y1 = Math.floor(y1)
		x2 = Math.floor(x2)
		y2 = Math.floor(y2)
		lineWidth = Math.ceil(lineWidth)

		// calculate bounding box
		let left = Math.max(0, Math.min(context.canvas.width, Math.min(x1, x2) - lineWidth))
		let top = Math.max(0, Math.min(context.canvas.height, Math.min(y1, y2) - lineWidth))
		let right = Math.max(0, Math.min(context.canvas.width, Math.max(x1, x2) + lineWidth))
		let bottom = Math.max(0, Math.min(context.canvas.height, Math.max(y1, y2) + lineWidth))

		// off canvas, so don't draw anything
		if (right - left === 0 || bottom - top === 0) {
			return
		}

		const circleMap = generateCircleMap(Math.floor(lineWidth / 2))
		const offset = Math.floor(circleMap.length / 2)
		const imageData = context.getImageData(left, top, right - left, bottom - top)

		for (let ix = 0; ix < circleMap.length; ix++) {
			for (let iy = 0; iy < circleMap[ix].length; iy++) {
				if (circleMap[ix][iy] === 1 || (x1 === x2 && y1 === y2 && circleMap[ix][iy] === 2)) {
					const newX1 = x1 + ix - offset - left
					const newY1 = y1 + iy - offset - top
					const newX2 = x2 + ix - offset - left
					const newY2 = y2 + iy - offset - top
					drawBresenhamLine(imageData, newX1, newY1, newX2, newY2, color)
				}
			}
		}
		context.putImageData(imageData, left, top)
	}

	const baseWidth = 1600
	const baseHeight = 900
	const boardRatio = baseWidth / baseHeight

	function scaleUpFactor(): number {
		return baseWidth / drawingBoard.clientWidth
	}

	function scaleDownFactor() {
		return drawingBoard.clientWidth / baseWidth
	}

	//scalesUp the value using scaleUpFactor and reduces the precision.
	//This makes sense since we absolutely don't need the precision and
	//we'll reduce network traffic this way.
	function scaleUpAndPrepareFloatForServer(value: number) {
		//We reduce the precision in multiple steps, since we get a string
		//as an intermediate result. The reason we don't want a string, is
		//that unmarshalling on the backend won't work with strings for float
		//values, unless explicitly specified, which however will cause it
		//not to work without quotes. Example:
		//  123.213476124918724 -> "123.21" -> 123.21
		return parseFloat((scaleUpFactor() * value).toFixed(2))
	}

	function drawLineAndSendEvent(
		context: CanvasRenderingContext2D,
		x1: number,
		y1: number,
		x2: number,
		y2: number,
		color: Color,
		lineWidth: number
	) {
		if (localTool === rubber) {
			color = rubberColor
		}

		drawLine(context, x1, y1, x2, y2, color, lineWidth)

		events.push({
			type: 'line',
			data: {
				fromX: scaleUpAndPrepareFloatForServer(x1),
				fromY: scaleUpAndPrepareFloatForServer(y1),
				toX: scaleUpAndPrepareFloatForServer(x2),
				toY: scaleUpAndPrepareFloatForServer(y2),
				color: color,
				lineWidth: scaleUpAndPrepareFloatForServer(lineWidth)
			}
		})
	}

	function fill(context: CanvasRenderingContext2D, x: number, y: number, color: Color) {
		function rgbColorObjectToHexString(color: Color): string {
			return (
				'#' +
				numberTo16BitHexadecimal(color.r) +
				numberTo16BitHexadecimal(color.g) +
				numberTo16BitHexadecimal(color.b)
			)
		}

		function numberTo16BitHexadecimal(number: number): string {
			return Number(number).toString(16).padStart(2, '0')
		}

		const imageData = context.getImageData(0, 0, context.canvas.width, context.canvas.height)
		const floodFill = new FloodFill(imageData)
		floodFill.fill(rgbColorObjectToHexString(color), x, y, 0)
		context.putImageData(floodFill.imageData, 0, 0)
	}

	function fillAndSendEvent(context: CanvasRenderingContext2D, x: number, y: number, color: Color) {
		fill(context, x, y, color)
		events.push({
			type: 'fill',
			data: {
				x: scaleUpAndPrepareFloatForServer(x),
				y: scaleUpAndPrepareFloatForServer(y),
				color: color
			}
		})
	}

	function getComplementaryCursorColor(innerColor: Color): Color {
		const hsp = Math.sqrt(
			0.299 * (innerColor.r * innerColor.r) +
				0.587 * (innerColor.g * innerColor.g) +
				0.114 * (innerColor.b * innerColor.b)
		)

		if (hsp > 127.5) {
			return { r: 0, g: 0, b: 0 }
		}

		return { r: 255, g: 255, b: 255 }
	}

	function circleCursor(innerColor: Color, size: number): string {
		if (!drawingBoard) {
			return 'unset'
		}

		const outerColor = getComplementaryCursorColor(innerColor)

		let circleSize = size * scaleUpFactor()
		return (
			`url('data:image/svg+xml;utf8,` +
			encodeURIComponent(
				`<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="32">` +
					generateSVGCircle(circleSize, innerColor, outerColor) +
					`</svg>')`
			) +
			` ` +
			circleSize / 2 +
			` ` +
			circleSize / 2 +
			`, auto`
		)
	}

	function generateSVGCircle(circleSize: number, innerColor: Color, outerColor: Color) {
		let circleRadius = circleSize / 2
		let innerColorCSS = 'rgb(' + innerColor.r + ',' + innerColor.g + ',' + innerColor.b + ')'
		let outerColorCSS = 'rgb(' + outerColor.r + ',' + outerColor.g + ',' + outerColor.b + ')'
		return (
			`<circle cx="` +
			circleRadius +
			`" cy="` +
			circleRadius +
			`" r="` +
			circleRadius +
			`" style="fill: ` +
			innerColorCSS +
			`; stroke: ` +
			outerColorCSS +
			`;"/>`
		)
	}

	function onTouchStart(event: TouchEvent) {
		//We only allow a single touch
		if (interactive && touchID == null && localTool !== fillBucket) {
			const touch = event.touches[0]
			touchID = touch.identifier

			// calculate the offset coordinates based on client touch position and drawing board client origin
			const clientRect = drawingBoard.getBoundingClientRect()
			lastX = touch.clientX - clientRect.left
			lastY = touch.clientY - clientRect.top
		}
	}

	function onTouchMove(event: TouchEvent) {
		// Prevent moving, scrolling or zooming the page
		event.preventDefault()

		if (interactive) {
			for (let i = event.changedTouches.length - 1; i >= 0; i--) {
				if (event.changedTouches[i].identifier === touchID) {
					const touch = event.changedTouches[i]

					// calculate the offset coordinates based on client touch position and drawing board client origin
					const clientRect = drawingBoard.getBoundingClientRect()
					const offsetX = touch.clientX - clientRect.left
					const offsetY = touch.clientY - clientRect.top

					// drawing functions must check for context boundaries
					drawLineAndSendEvent(context, lastX, lastY, offsetX, offsetY, localColor, localLineWidth)
					lastX = offsetX
					lastY = offsetY

					return
				}
			}
		}
	}

	function onTouchEnd(event: TouchEvent) {
		for (let i = event.changedTouches.length - 1; i >= 0; i--) {
			if (event.changedTouches[i].identifier === touchID) {
				touchID = null
				return
			}
		}
	}

	function onMouseDown(event: MouseEvent) {
		if (interactive && event.buttons === 1 && localTool !== fillBucket) {
			const clientRect = drawingBoard.getBoundingClientRect()
			lastX = event.clientX - clientRect.left
			lastY = event.clientY - clientRect.top
		}
	}

	function onMouseMove(event: MouseEvent) {
		//event.button === 0 could be wrong, as it can also be the uninitialized state.
		//Therefore we use event.buttons, which works differently.
		if (interactive && event.buttons === 1 && localTool !== fillBucket) {
			// calculate the offset coordinates based on client mouse position and drawing board client origin
			const clientRect = drawingBoard.getBoundingClientRect()
			const offsetX = event.clientX - clientRect.left
			const offsetY = event.clientY - clientRect.top

			// drawing functions must check for context boundaries
			drawLineAndSendEvent(context, lastX, lastY, offsetX, offsetY, localColor, localLineWidth)
			lastX = offsetX
			lastY = offsetY
		}
	}

	function onMouseClick(event: MouseEvent) {
		//event.buttons won't work here, since it's always 0. Since we
		//have a click event, we can be sure that we actually had a button
		//clicked and 0 won't be the uninitialized state.
		if (interactive && event.button === 0) {
			if (localTool === fillBucket) {
				fillAndSendEvent(context, event.offsetX, event.offsetY, localColor)
			} else {
				drawLineAndSendEvent(
					context,
					event.offsetX,
					event.offsetY,
					event.offsetX,
					event.offsetY,
					localColor,
					localLineWidth
				)
			}
		}
	}

	function drawEvent(ev: Event) {
		if (ev.type === 'fill') {
			fill(context, ev.data.x, ev.data.y, ev.data.color)
		} else if (ev.type === 'line') {
			const data = ev.data
			drawLine(
				context,
				data.fromX * scaleDownFactor(),
				data.fromY * scaleDownFactor(),
				data.toX * scaleDownFactor(),
				data.toY * scaleDownFactor(),
				data.color,
				data.lineWidth * scaleDownFactor()
			)
		}
	}

	function handleCanvasResize() {
		if (
			drawingBoard.width === drawingBoard.clientWidth &&
			drawingBoard.height === drawingBoard.clientHeight
		) {
			return false
		}

		drawingBoard.width = drawingBoard.clientWidth
		drawingBoard.height = drawingBoard.clientHeight
		setLineWidth(localLineWidthUnscaled)

		events.forEach(drawEvent)

		return true
	}

	function sleep(ms: number): Promise<void> {
		return new Promise((resolve) => setTimeout(resolve, ms))
	}

	function clear() {
		events = []
		context.clearRect(0, 0, drawingBoard.width, drawingBoard.height)
	}

	async function replayData() {
		context.clearRect(0, 0, drawingBoard.width, drawingBoard.height)

		for (let event of events) {
			await sleep(10)
			drawEvent(event)
		}
	}

	function hexStringToRgbColorObject(hexString: string): Color {
		const hexColorsRegex = /#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})/i
		const match = hexString.match(hexColorsRegex)!
		return {
			r: parseInt(match[1], 16),
			g: parseInt(match[2], 16),
			b: parseInt(match[3], 16)
		}
	}

	export function setColor(newColor: string): void {
		localColor = hexStringToRgbColorObject(newColor)
		color = newColor
	}
	export function setLineWidth(width: number) {
		localLineWidthUnscaled = width
		localLineWidth = width * scaleDownFactor()
	}

	function setCanvasSize(size: number) {
		setLineWidth(size)
	}

	async function next() {
		await updateLobby($page.params.identifier, events)

		window.location.reload()
	}

	function closestMatch(it: string): [string, number] {
		const words = lobby.possibleWords
		const data: Array<[string, number]> = words.map((word) => [word, levenshteinDistance(it, word)])
		data.sort((a, b) => a[1] - b[1])

		return data[0]
	}
	function closestMatchText(it: string): string {
		let [data, dist] = closestMatch(it)
		if (dist == 0) {
			return ''
		} else if (dist <= 2) {
			return `Did you mean ${data}?`
		} else {
			return ''
		}
	}
	function setPen() {
		localTool = pen
	}
	function setFill() {
		localTool = fillBucket
	}

	const colors = [
		[
			'#ffffff',
			'#c1c1c1',
			'#ef130b',
			'#ff7100',
			'#ffe400',
			'#00cc00',
			'#00b2ff',
			'#231fd3',
			'#a300ba',
			'#d37caa',
			'#a0522d',
			'#592f2a',
			'#ecbcb4'
		],
		[
			'#000000',
			'#4c4c4c',
			'#740b07',
			'#c23800',
			'#e8a200',
			'#005510',
			'#00569e',
			'#0e0865',
			'#550069',
			'#a75574',
			'#63300d',
			'#492f31',
			'#d1a3a4'
		]
	]

	let message = ''

	function guess() {
		if (currentGuess == lobby.word) {
			message = 'nice!'
			next()
		} else {
			message = `oops, ${currentGuess} isn't the word...`
		}
		sleep(1000).then(() => {
			message = ''
		})
	}
</script>

{#if isWaiting}
	<p>you are waiting on the other player to finish!</p>
{:else}
	<div id="area">
		{#if interactive}
			<h3>You are drawing '{drawing}'</h3>
		{/if}

		<div id="outermost">
			<div id="drawing-board-wrapper">
				<div id="drawing-board-inner-wrapper">
					<canvas
						id="drawing-board"
						bind:this={drawingBoard}
						on:touchend={onTouchEnd}
						on:touchcancel={onTouchEnd}
						on:touchstart={onTouchStart}
						on:touchmove={onTouchMove}
						on:mousedown={onMouseDown}
						on:mousemove={onMouseMove}
						on:mouseleave={onMouseMove}
						on:click={onMouseClick}
						style="cursor: {circleCursor(localColor, localLineWidth)}"
					/>
				</div>
			</div>
		</div>

		{#if interactive}
			<div class="mt">
				<ColorCell {color} />
				<button on:click={setPen}> pen </button>
				<button on:click={setFill}> fill </button>
			</div>

			<div class="mt">
				<button on:click={() => setCanvasSize(8)}> 8</button>
				<button on:click={() => setCanvasSize(16)}> 16</button>
				<button on:click={() => setCanvasSize(32)}> 32</button>
				<button on:click={() => setCanvasSize(64)}> 64</button>

				<button on:click={next}>submit drawing</button>
			</div>

			<div class="mt" />

			{#each colors as row}
				<div>
					{#each row as color}
						<button
							class="color-button"
							on:click={() => setColor(color)}
							style="background-color: {color}"
						/>
					{/each}
				</div>
			{/each}
		{:else}
			<div class="mt">
				<input type="text" bind:value={currentGuess} />
				<button on:click={guess}>guess</button>
				<span>{message}</span>
				<br />
				{closestMatchText(currentGuess)}
			</div>
		{/if}
	</div>
{/if}

<style>
	.color-button {
		width: 32px;
		height: 32px;
		border: 1px solid gray;
	}

	#drawing-board-wrapper {
		width: 100%;
		height: 0;
		padding-top: 56.25%;
		position: relative;
		grid-column: 2;
		grid-row: 2;
	}

	#drawing-board-inner-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	#drawing-board {
		position: absolute;
		background-color: white;
		border: 1px solid red;
		width: 100%;
		height: 100%;
		user-select: none;
	}

	@media (min-width: 800px) {
		#outermost {
			max-width: 80vw;
		}
	}

	#area {
		padding: 10px;
	}

	p {
		padding: 16px;
	}

	.mt {
		margin-top: 16px;
	}

	h3 {
		padding-bottom: 8px;
		font-size: 120%;
		font-weight: bold;
	}
</style>
