<script context="module">
	export const ssr = false;
</script>
<script lang="ts">
	import { page } from '$app/stores'
	import { get } from 'svelte/store'

	import Canvas from '$lib/Canvas.svelte'
	import { getLobby } from '$lib/api'

	const lobby = getLobby(get(page).params.identifier)
</script>

{#await lobby}
	<p>Loading lobby...</p>
{:then lobby}
	<Canvas lobby={lobby} />
{/await}
