<script lang="ts">
	import { username } from '$lib/store'
</script>

<div id="app">
	<nav>
		<a href="/">lobbies</a>
		{#if $username != 'null'}
			<a href="/login">logged in as {$username}</a>
		{:else}
			<a href="/login">not logged in; login</a>
		{/if}
	</nav>

	<div id="content">
		<slot />
	</div>
</div>

<style>
	#app {
		display: grid;
		grid-template-areas:
			'head'
			'foot';
	}
	#app > nav {
		grid-area: head;
	}
	#app > #content {
		grid-area: foot;
	}
	nav {
		display: flex;
		justify-content: space-between;
		background-color: #dee0e2;
		padding: 10px;
		border-bottom: 1px solid #afb2b4;
	}
	:root {
		background-color: #eff0f1;
		color: #232629;
		font-family: 'Noto Sans';
	}
	nav > * {
		display: block;
		background-color: #f7f7f7;
		text-decoration: none;
		padding: 6px 8px;
		border: 1px solid #afb2b4;
		border-radius: 3px;
		color: #232629;
	}
	@media (max-width: 799px) {
		#app {
			grid-template-areas: 'foot'
								 'head';
			grid-template-rows: auto min-content;
			min-height: 100vh;
		}
		nav {
			border-top: 1px solid #afb2b4;
			border-bottom: 0;
			height: min-content;
		}
	}
</style>
