<script lang="ts">
	import { username } from '$lib/store'
	import { getLobbies } from '$lib/api'

	const lobbies = getLobbies()
</script>

{#await lobbies}
	<p>Loading lobbies...</p>
{:then lobbies}
	<ul>
		{#each lobbies as lobby}
			<li>
				Lobby {lobby.identifier} with players {lobby.playerA} and {lobby.playerB}
				{#if lobby.playerA === $username || lobby.playerB === $username}
				<br /> <a href="/lobbies/{lobby.identifier}">join!</a>
				{/if}
			</li>
		{/each}
	</ul>
	{#if lobbies.length === 0}
	<p>
		no lobbies, why not make one?
	</p>
	{/if}
	{#if $username != "null"}
	<a href="/newLobby" id="lobby-btn">create a new lobby</a>
	{/if}
{/await}

<style>
	ul {
		padding: 16px;
	}
	ul a, a {
		display: inline-block;
		background-color: #f7f7f7;
		text-decoration: none;
		padding: 6px 8px;
		border: 1px solid #afb2b4;
		border-radius: 3px;
		color: #232629;
		margin-top: 10px;
	}
	#lobby-btn {
		margin-left: 16px;
	}
</style>
