<script lang="ts">
	import { username } from '$lib/store'
</script>

<h3>set your username</h3>

<div>
	<input type="text" bind:value={$username}>
</div>

<style>
	input[type="text"] {
		background-color: #ffffff;
		border: 1px solid #bcbebf;
		border-radius: 3px;
		padding: 6px 6px;
	}
	input[type="text"]:focus {
		border-color: #3daee9;
		outline: none;
	}
</style>
