<script lang="ts">
	import { username } from '$lib/store'
	import { createLobby } from '$lib/api'
	import { goto } from '$app/navigation'

	let identifier: string | undefined
	let playingWith: string | undefined

	async function create() {
		await createLobby(identifier, playingWith)

		goto(`/lobbies/${identifier}`)
	}
</script>

{#if $username == "null"}
	you need to log in to create a lobby!
{:else}
	<div>
		<label for="identifier">Lobby identifier: </label>
		<input id="identifier" type="text" bind:value={identifier} />
		<br />
		<br />
		<label for="identifier">Play with: </label>
		<input id="identifier" type="text" bind:value={playingWith} />
		<br />
		<br />
		<button on:click={create}>create</button>
	</div>
{/if}

<style>
	div {
		padding: 16px;
	}
	input[type='text'] {
		background-color: #ffffff;
		border: 1px solid #bcbebf;
		border-radius: 3px;
		padding: 6px 6px;
	}
	input[type='text']:focus {
		border-color: #3daee9;
		outline: none;
	}
	button {
		background-color: #f7f7f7;
		text-decoration: none;
		padding: 6px 8px;
		border: 1px solid #afb2b4;
		border-radius: 3px;
		color: #232629;
	}
</style>
